.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #e38c22;
  border: 1px solid #d67806;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #0c6c17;
  border-color: #03640d;
}